<% include ../partials/header %>
    <div class="container">
        <h1>
            <%= campground.name %>
        </h1>
        <p>
            <%= campground.desc %>
        </p>
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                </div>
                <p><a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a></p>
                <ul>
                    <% campground.comments.forEach(function(comment){ %>
                        <li><strong><%= comment.author %></strong> - <%= comment.text %></li>
                    <% }); %>
                </ul>                        
            </div>
        </div>
    </div>

    <% include ../partials/footer %>